mixin modal-thanks()
  +modal().modal-thanks.i-modal--2deep
    .modal-thanks__inner
      img(src="img/icons/check-green.svg", alt="check-icon")
      .modal-thanks__title Спасибо!
      .modal-thanks__text Ваша заявка принята. <br> Мы свяжемся с вами в ближайшее время.