section.about-company
  img(src="./img/about-cover.jpg", alt="").about-company__cover
  .about-company__wrapper.container
    .about-company__left
      .about-card.about-card--large
        span.about-card__title ALLGOODS<br>— ЭТО
        span.about-card__text Широкий ассортимент одежды, включая обувь, верхнюю одежду,<br> футболки, джинсы и многое другое.<br> Мы предлагаем не только простую одежду, <br>но и экслюзивные варианты, которые <br>будут выделяться на фоне другой одежды.
    .about-company__right
      .about-card
        span.about-card__title С 2023 ГОДА
        span.about-card__text Продаём
      .about-card
        span.about-card__title 5 лет
        span.about-card__text Гарантия качества
      .about-card
        span.about-card__title 82
        span.about-card__text Вещей в каталоге
      .about-card
        span.about-card__title 5000+
        span.about-card__text Человек сделали заказ
