section.about-company
  img(src="./img/about-cover.png", alt="Мебель").about-company__cover
  .about-company__wrapper.container
    .about-company__left
      .about-card.about-card--large
        span.about-card__title INTEKO <br>— ЭТО
        span.about-card__text Широкий ассортимент мебели, включая диваны, кресла,<br> стулья, столы, шкафы и многие другие предметы интерьера.<br> Мы предлагаем не только готовые модели мебели, но и<br> возможность заказа индивидуального проекта, который<br> будет разработан и изготовлен специально для вас.
    .about-company__right
      .about-card
        span.about-card__title С 2023 ГОДА
        span.about-card__text Создаем мебель
      .about-card
        span.about-card__title 5 лет
        span.about-card__text Гарантия качества
      .about-card
        span.about-card__title 82
        span.about-card__text Проектов в каталоге
      .about-card
        span.about-card__title 34+
        span.about-card__text Реализованных проектов
