mixin type-card(src, name, count)
  a(href="#").type-card&attributes(attributes)
    //- .type-card__img
    //-   img(src=src, alt="Иконки мебели")
    span.type-card__name=name
      span.type-card__count=count