mixin product-characteristics(data)
  .product-characteristics
    .product-characteristics__title Характеристики
    .product-characteristics__main
        .product-characteristics__el
            span.product-characteristics__name Размеры:
            span.product-characteristics__value S - XL
        .product-characteristics__el
          span.product-characteristics__name Материал:
          span.product-characteristics__value  Хлопок
        .product-characteristics__el
          span.product-characteristics__name Бренд:
          span.product-characteristics__value Nike
        .product-characteristics__el
          span.product-characteristics__name Страна производства:
          span.product-characteristics__value  Индонезия