

mixin modal-success()
  +modal().modal-success
    .modal-success__inner
      img(src="img/icons/check-green.svg", alt="check-icon")
      .modal-success__title Ваша заявка принята!
      .modal-success__text  Мы свяжемся с вами в ближайшее время.
      