

mixin modal-success()
  +modal.modal-success
    .modal-success__inner
      .modal-success__title Ваша заявка успешно принята
      .modal-success__icon
        svg
            use(href='img/sprite.svg#check')