section.basket
 .container
    h3.section-title Корзина
    .basket__wrapper
    .basket__bottom
        +btn('Заказать', '')(data-modal="modal-application" id='make-order')
        .basket__sum
            span.basket__sum-txt Итого:&nbsp;
            span.basket__sum-value 10 000
            | &nbsp;₽
        

