section.working-conditions
  .container
    .working-conditions__title Условия работы
    .working-conditions__wrapper
      .conditions-card
        .conditions-card__text
          .conditions-card__title Стоимость
          .conditions-card__subtitle Цена рассчитывается в зависимости от вашего индивидуального проекта
        .conditions-card__decor
          svg
            use(xlink:href="img/sprite.svg#CurrencyRub")
      .conditions-card
        .conditions-card__text
          .conditions-card__title Сроки
          .conditions-card__subtitle Сроки изготовления зависят от объемов вашего индивидуального проекта
        .conditions-card__decor
          svg.stroke
            use(xlink:href="img/sprite.svg#clock")