-
  let heroSlides = [
    {
      title: 'Современный \nдизайн',
      subtitle: 'Полная уникальность',
      btntext: 'Оставить заявку',
      img: './img/hero-slider/slide1.jpg'
    },
    {
      title: 'Экологичные \nматериалы',
      subtitle: 'Твоя лучшая пара',
      btntext: 'Оставить заявку',
      img: './img/hero-slider/slide2.jpg'
    },
  ]

section.hero
  .swiper.hero-slider
    .swiper-wrapper
      each slide in heroSlides 
        .swiper-slide.hero-slide
          img(src=slide.img, alt="Современный стиль")
          .hero-slide__info
            .hero-slide__text
              span.hero-slide__title=slide.title
              span.hero-slide__subtitle=slide.subtitle
            +btn(`${slide.btntext}`).hero-slide__btn
  button.hero__button-prev
    svg
      use(xlink:href="img/sprite.svg#caret-right")
  button.hero__button-next
    svg
      use(xlink:href="img/sprite.svg#caret-right")
  .hero-slider__pagination.slider-pagination

    
