-
  let catalogCards = [
    {
      name: 'Верхняя одежда',
      img: {
        src: './img/categories/jacket.jpg',
        alt: 'Верхняя одежда'
      },
      links: [
        {text: 'Зиимняя', href: '#'}, 
        {text: 'Осенняя', href: '#'}, 
        {text: 'Демисезон', href: '#'}],
      inDepth: 'catalog-second.html'
    },
    {
      name: 'Джинсы',
      img: {
        src: './img/categories/jeans.jpg',
        alt: 'Джинсы',
      },
      links: [
        {text: 'Узкие', href: '#'}, 
        {text: 'Широкие', href: '#'}, 
        {text: 'Бананы', href: '#'},
        ],
      inDepth: 'catalog-second.html'
    },
    {
      name: 'Худи',
      img: {
        src: './img/categories/hoodie.jpg',
        alt: 'Каталог худи'
      },
      links: [
        {text: 'Оверсайз', href: '#'}, 
        {text: 'Обычные', href: '#'},],
      inDepth: 'catalog-second.html'
    },
    {
      name: 'Кроссовки',
      img: {
        src: './img/categories/sneakers.jpg',
        alt: 'Каталог кроссовок'
      },
      links: [
        {text: 'Nike', href: '#'}, 
        {text: 'New Balance', href: '#'}, 
        {text: 'Adidas', href: '#'}],
        mod: 'large',
        inDepth: 'catalog-second.html'
    },
    {
      name: 'Футболки',
      img: {
        src: './img/categories/t-shirt.jpg',
        alt: 'Футболки'
      },
      links: [
        {text: 'Оверсайз', href: '#'}, 
        {text: 'Обтягивающие', href: '#'},
      ],
      inDepth: 'catalog-second.html'
    },
  ]

section.catalog-first-level
  .container
    h3.section-title Каталог
    .catalog-first-level__grid#catalog
      each card in catalogCards
        if(card.mod)
          +catalog-card(card.img, card.name, card.links, card.inDepth, card.mod).catalog-first-level__card.catalog-first-level__card-large
        else
          +catalog-card(card.img, card.name, card.links, card.inDepth).catalog-first-level__card