-
  let banners = [
    {
      title: 'Готовые решения ',
      text: [
        `Готовые решения предоставляют вам<br class='mobile'> большой выбор<br class='desktop'> стильных и современных<br class='mobile'> дизайнов одежды.<br class='desktop'> <br class='mobile'> Каждое решение кропотливо совмещает<br class='desktop'><br class='mobile'> свою идею и качественное исполнение,<br class='mobile'> гармонично<br class='desktop'> встраиваемое в желаемый вами<br class='mobile'> образ.`,
        `Имеются эклюзивные предложения<br class='mobile'><br class='desktop'> при индивидуальном заказе.`],
      button: {
        textBtn: 'Каталог',
        href: 'catalog-second.html'
      },
      cover: './img/vans.png',
      mod: 'ready'
    },
    {
      title: 'Индивидуальный дизайн ',
      text: [
          `Индивидуальное проектирование мебели позволяет создать<br class='desktop'> именно ту атмосферу, которая нужна конкретно вам. Проект,<br class='desktop'> в котором учетны все нюансы, сделаны<br class='mobile'> точные расчеты.`,
          `Имеется полная документация, включая архитектурный и<br class='desktop'> конструктивный планы, а так же смета по всем материалам.`],
      button: {
        textBtn: 'Под заказ',
        href: 'catalog-second.html'
      },
      cover: './img/2.jpg',
      mod: 'individual'
    },
  ]
section.purchase-options
  .container
    each item in banners
      if (item.mod === 'individual')
        +banner(item.title, item.text, item.button, item.cover).purchase-options__individ
      else if(item.mod === 'ready') 
        +banner(item.title, item.text, item.button, item.cover).purchase-options__ready