-
  let banners = [
    {
      title: 'Готовые решения ',
      text: [
        `Готовые решения предоставляют вам<br class='mobile'> большой выбор<br class='desktop'> стильных и современных<br class='mobile'> дизайнов одежды.<br class='desktop'> <br class='mobile'> Каждое решение кропотливо совмещает<br class='desktop'><br class='mobile'> свою идею и качественное исполнение,<br class='mobile'> гармонично<br class='desktop'> встраиваемое в желаемый вами<br class='mobile'> образ.`,
        `Имеются эклюзивные предложения<br class='mobile'><br class='desktop'> при индивидуальном заказе.`],
      button: {
        textBtn: 'Каталог',
        href: 'catalog-second.html'
      },
      cover: './img/vans.png',
      mod: 'ready'
    },
    {
      title: 'Индивидуальность',
      text: [
          `Преобретая одежду и обувь в нашем магазине<br class='desktop'> вы получаете ту самую индивидуальность которую искали. Все вещи нашего каталога,<br class='desktop'> прошли проверку на оригинальность<br class='mobile'> и не являются заезженными в обществе.`],
      button: {
        textBtn: 'Как сделать заказ?',
        href: 'how-to-order.html'
      },
      cover: './img/2.jpg',
      mod: 'individual'
    },
  ]
section.purchase-options
  .container
    each item in banners
      if (item.mod === 'individual')
        +banner(item.title, item.text, item.button, item.cover).purchase-options__individ
      else if(item.mod === 'ready') 
        +banner(item.title, item.text, item.button, item.cover).purchase-options__ready