footer.footer
    .container.footer__wrapper
        .footer__inner
            .footer__info
                .footer__contacts
                    .footer__society
                        +circle-btn({src: './img/icons/telegram-icon.svg', alt: 'telegram'}, 'https://web.telegram.org/k/#@zhlv21')
                    .footer__contact-info
                        a(href="tel:") 8 800 123 45 67 
                        a(href="") all@goods.ru
                .footer__nav
                    a(href="catalog-second.html") Каталог
                    a(href="contacts.html") Контакты
            .footer__license
                .logo AllGoods
                p © 2020-2023 ИП AllGoods ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ ВСЕ ПРАВА ЗАЩИЩЕНЫ.
        img(src="./img/footer.jpg", alt="" class='footer__img')
