footer.footer
    .container.footer__wrapper
        .footer__inner
            .footer__info
                .footer__contacts
                    .footer__society
                        +circle-btn({src: './img/icons/youtube-icon.svg', alt: 'youtube'}, 'href')
                        +circle-btn({src: './img/icons/instagram-icon.svg', alt: 'instagram'}, 'href')
                        +circle-btn({src: './img/icons/telegram-icon.svg', alt: 'telegram'}, 'href')
                    .footer__contact-info
                        a(href="tel:") 8 800 350 22 37 
                        a(href="") inteko@intekomebel.ru
                .footer__nav
                    a(href="") Каталог
                    a(href="") Контакты
                    a(href="") Под заказ
                    a(href="") Политика конфиденциальности
            .footer__license
                img(src="./img/logo-grey.svg", alt="inteko logo")
                p © 2013–2017 ООО «Сибирский Дом» ОГРН: 1162225084405 ИНН: 2209046956 КПП: 220901001 ООО «INTEKO» ОГРН<br> 1162225074802 ИНН 2209046709 КПП 220901001 САЙТ НОСИТ ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ<br> ПУБЛИЧНОЙ ОФЕРТОЙ.
        img(src="./img/furniture.svg", alt="Мебель" class='footer__img')
