.catalog-card {
  max-width: 432px;

  &__img {
    display: block;
    width: 100%;
    // position: relative;
    // height: auto;
    // padding-top: 62.04%;
    height: 268px;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  img {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    display: block;
    font-family: $additional-font;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__nav-el {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: $grey-light;
    margin-right: 12px;
    margin-bottom: 12px;
    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $grey-light;
      width: 100%;
      height: 1px;
      opacity: 0;
      @include transition('opacity');
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &--large {
    max-width: 896px;
  }
}

@media (max-width: $mobile-big) {
  .catalog-card {
    &__img {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: $mobile) {
  .catalog-card {
    &__img {
      // height: auto;
      // padding-top: 62.04%;
      height: 227px;
    }
  }
}
