extends ../pug/layout.pug

block meta
    title Корзина
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
  +breadcrumbs([{text: "Корзина"}])
  include ../blocks/basket/basket
  include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
  +modal-city()
  +modal-application('basket')
//- block append page-bottom
//-   script(src='js/allow-sticky.js')