extends ../pug/layout.pug

block meta
    - pageName = 'catalog-first'
    title Каталог
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
    +breadcrumbs([{text: "Каталог"}])
    include ../blocks/catalog-first-level/catalog-first-level
    include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
    
//- block append page-bottom
//-   script(src='js/some.js')