extends ../pug/layout.pug

block meta
    title Каталог
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
    +breadcrumbs([{text: "Контакты"}])
    include ../blocks/map/map
    include ../blocks/our-offices/our-offices
    include ../blocks/contacts/contacts
    include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
    +modal-city()
    +modal-application()
block append page-bottom
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script(src='js/yandex-map.js')