extends ../pug/layout.pug

block meta
    - pageName = 'how-to-order'
    title Как сделать заказ
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
    +breadcrumbs([{text: "Как сделать заказ"}])
    include ../blocks/how-to-order/how-to-order
    include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
//- block append page-bottom
//-   script(src='js/')