extends ../pug/layout.pug

//- block meta
//-     title Карточка товара
//-     meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
  +breadcrumbs([{text: "Под заказ"}])
  include ../blocks/individual-design/individual-design
  include ../blocks/working-conditions/working-conditions
  include ../blocks/submit-application/submit-application
  include ../blocks/footer-mob/footer-mob
  
//- block footer
    

block prepend page-bottom
    +modal-city()
//- block append page-bottom
//-   script(src='js/allow-sticky.js')