extends ../pug/layout.pug

block meta
    - pageName = 'contacts'
    title Политика конфиденциальности
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
    +breadcrumbs([{text: "Политика конфиденцильности"}])
    include ../blocks/privacy-policy/privacy-policy
    include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
//- block append page-bottom
//-   script(src='js/')