extends ../pug/layout.pug

//- block meta
//-     title Карточка товара
//-     meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
    +breadcrumbs([{text: "Каталог"}])
    include ../blocks/product/product
    include ../blocks/recommendation/recommendation
    include ../blocks/footer-mob/footer-mob
//- block footer
    

block prepend page-bottom
    +modal-slider()
    +modal-city()
    +modal-application()
    +modal-delivery()
    +modal-thanks()
block append page-bottom
  script(src='js/allow-sticky.js')