-
  const types = [
    {
      name: 'Nike',
      count: 28,
    },
    {
      name: 'Adidas',
      count: 16,
    },
    {
      name: 'New Balance',
      count: 75,
    },
    {
      name: 'Crocs',
      count: 6,
    },
  ]
section.furniture-types
  .container
    //- h3.section-title.furniture-types__title Гостиная
    h3.section-title.furniture-types__title-search
      | Обувь
      span 23
    //- .furniture-types__wrapper
    //-   each item in types
    //-     +type-card(item.icon, item.name, item.count).furniture-types__el
    