-
  const types = [
    {
      icon: './img/furniture-types/wardrobe.png',
      name: 'Стенки',
      count: 28,
    },
    {
      icon: './img/furniture-types/bookcase.png',
      name: 'Модульные гостиные',
      count: 16,
    },
    {
      icon: './img/furniture-types/closet.png',
      name: 'Стеллажи',
      count: 75,
    },
    {
      icon: './img/furniture-types/dresser.png',
      name: 'Тумбы под телевизор',
      count: 6,
    },
  ]
section.furniture-types
  .container
    //- h3.section-title.furniture-types__title Гостиная
    h3.section-title.furniture-types__title-search
      | Гостиная
      span 23
    .furniture-types__wrapper
      each item in types
        +type-card(item.icon, item.name, item.count).furniture-types__el
    