section.contacts
  .container
    .section-title Контактная информация
    .contacts__wrapper
      .contacts-card
        +circle-btn({src: './img/icons/phone.svg', alt: 'Phone-icon'}, "tel:+88003502237").contacts-card__soc-btn
        .contacts-card__info
          span.contacts-card__subtitle Позвоните по номеру
          a(href="tel:+88003502237")  8 800 350 22 37
      .contacts-card
        +circle-btn({src: './img/icons/email.svg', alt: 'Email-icon'}, 'mailto:inteko@intekomebel.ru').contacts-card__soc-btn
        .contacts-card__info
          span.contacts-card__subtitle Пишите  на почту
          a(href="mailto:inteko@intekomebel.ru") inteko@intekomebel.ru
      .contacts-card
        .contacts-card__icons
          +circle-btn({src: './img/icons/youtube-icon.svg', alt: 'youtube'}, 'href').contacts-card__soc-btn
          +circle-btn({src: './img/icons/instagram-icon.svg', alt: 'instagram'}, 'href').contacts-card__soc-btn
          +circle-btn({src: './img/icons/telegram-icon.svg', alt: 'telegram'}, 'href').contacts-card__soc-btn
        .contacts-card__info
          span.contacts-card__subtitle Мы в соц. сетях
          span Следите за новостями
        
