section.how-to-order
 .container
    h3.section-title Как сделать заказ?
    h4 1. Перейдите в каталог
    p Нажмите на надпись "Каталог" в шапке сайта.
    img(src="img/steps/1-min.png", alt="Шаг 1")
    h4 2. Выберите нужную категорию
    p Нажмите на название или фото категории. 
    img(src="img/steps/2-min.png", alt="Шаг 2")
    h4 3. Выберите товар и добавьте его в корзину
    img(src="img/steps/3-min.png", alt="Шаг 3")
    h4 4. Перейдите в корзину
    p Перейдя в корзину нажмите на кнопку "Заказать".
    img(src="img/steps/4-min.png", alt="Шаг 4")
    h4 5. Оформите заявку на товар
    p Заполните данные для заказа товара и нажмите на кнопку "Сделать заказ". Теперь ожидайте, мы свяжемся с вами в ближайщее время.
    img(src="img/steps/5-min.png", alt="Шаг 5")