.how-to-order {
  margin-top: 44px;

  .section-title {
    hyphens: auto;
  }

  h4 {
    margin: 20px 0;
  }
  p {
    margin: 10px 0;
  }

  a {
    color: $violet;
    &:hover {
      color: $grey-dark;
    }
  }
}

@media (max-width: $mobile-big) {
  .how-to-order {
    h4 {
      margin: 20px 0;
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}
