-
  const types = [
    {
      name: 'Nike',
      count: 28,
    },
    {
      name: 'Adidas',
      count: 16,
    },
    {
      name: 'New Balance',
      count: 75,
    },
    {
      name: 'Crocs',
      count: 6,
    },
  ]
section.product-types
  .container
    //- h3.section-title.product-types__title Гостиная
    h3.section-title.product-types__title-search
      | Обувь
      span 23
    