-
  let rooms = [
    {
      link: '/catalog-second.html',
      roomName: 'Верхняя одежда',
      specificNum: 28,
      cost: 32990,
      img: {
        src: './img/categories/jacket.jpg',
        alt: 'Одежда'
      },
      mod: ''
    },
    {
      link: '/catalog-second.html',
      roomName: 'Джинсы',
      specificNum: 28,
      cost: 19990,
      img: {
        src: './img/categories/jeans.jpg',
        alt: 'Одежда'
      },
      mod: ''
    },
    {
      link: '/catalog-second.html',
      roomName: 'Худи',
      specificNum: 28,
      cost: 51790,
      img: {
        src: './img/categories/hoodie.jpg',
        alt: 'Одежда'
      },
      mod: ''
    },
    {
      link: '/catalog-second.html',
      roomName: 'Кроссовки',
      specificNum: 72,
      cost: 42810,
      img: {
        src: './img/categories/sneakers.jpg',
        alt: 'Одежда'
      },
      mod: 'large'
    },
    {
      link: '/catalog-second.html',
      roomName: 'Футболки',
      specificNum: 28,
      cost: 30100,
      img: {
        src: './img/categories/woman-shirt.jpg',
      },
      mod: ''
    },
  ]
section.rooms
 .container
    h3.section-title Категории
    .rooms__grid
      each item in rooms
        if(item.mod === 'large')
          +room-card(item.link, item.roomName, item.specificNum, item.cost, item.img, item.mod).rooms__el.rooms__el--large
        else
          +room-card(item.link, item.roomName, item.specificNum, item.cost, item.img, item.mod).rooms__el
        