-
    let categories = [
        {
            text: 'Верхняя одежда',
            link: 'catalog-second.html'
        },
        {
            text: 'Обувь',
            link: 'catalog-second.html'
        },
        {
            text: 'Джинсы',
            link: 'catalog-second.html'
        },
        {
            text: 'Худи',
            link: 'catalog-second.html'
        },
        {
            text: 'Футболки',
            link: 'catalog-second.html'
        },
    ]

header.header
    .container
        .header__top
            a(href='index.html').header__logo.logo
                | AllGoods
                //- <img src='./img/logo.png' alt='logo'>
            .header__nav
                .header__actions
                    a(href='catalog-first.html').header__link.is-active Каталог
                    +search()
                .header__contacts
                    a(href='contacts.html').header__link  Контакты
                    .city(data-modal='modal-city') Ростов-на-Дону
                    +circle-btn({src: './img/icons/basket.svg', alt: 'Корзина'}, 'basket.html').basket-btn
                        .basket-btn__counter 2
        .header__categories
            each item in categories
                a(href=item.link)=item.text
            