-
    let categories = [
        {
            text: 'Верхняя одежда',
            link: '#'
        },
        {
            text: 'Обувь',
            link: '#'
        },
        {
            text: 'Джинсы',
            link: '#'
        },
        {
            text: 'Худи',
            link: '#'
        },
        {
            text: 'Футболки',
            link: '#'
        },
    ]

header.header
    .container
        .header__top
            a(href='index.html').header__logo.logo
                | AllGoods
                //- <img src='./img/logo.png' alt='logo'>
            .header__nav
                .header__actions
                    a(href='catalog-first.html').header__link.is-active Каталог
                    //- a(href='individual-design.html').header__link Под заказ
                    +search()
                .header__contacts
                    .city(data-modal='modal-city') Ростов-на-Дону
                    a(href='/contacts.html').header__link  Контакты
                    a(href='tel:+88003502237').number  8 800 123 45 67
        .header__categories
            each item in categories
                a(href=item.link)=item.text
            