section.not-found
  .container
    .not-found__wrapper
      img(src="img/404.svg", alt="")
      .not-found__text 
        span.not-found__title Страница не найдена
        span.not-found__subtitle К сожалению, неправильно набран адрес<br> или такой страницы<br class='mobile'> не существует.
      +btn('Перейти на главную', '/').not-found__button-back
