section.product(data-id='1' data-img='./img/clothes/nike-1.png')
  .container.product__wrapper
    .product__info-wp
      +product-gallery()
      p.product__desk
        | Данная модель Air Force - это, пожалуй, одна из самых известных моделей кроссовок.<br> Айр Форс идеально сочетает в себе красивый внешний вид и отличное качество. Эти кроссовки очень хорошо спроектированы с тщательной амортизацией для максимального комфорта. Обувь имеет лаконичный дизайн, который можно умело сочетать практически с любым гардеробом, узнаваемый логотип, отличные параметры для занятий спортом. Кроссовки мужские выполнены из качественных материалов, что делают их особенно комфортными в повседневной носке. Кроссовки демисезонные отличаются высоким уровнем комфорта при носке. 
      +product-characteristics()


    .product__dashboard-wp
      .product-dashboard 
        span.product-dashboard__name Кроссовки Nike
        .product-dashboard__cost
          span 4000
          | &nbsp;₽
        +btn('Сделать заказ', '#')(data-modal='modal-application').product-dashboard__send-request
        .product-dashboard__info
          .product-dashboard__making
            svg
              use(xlink:href="img/sprite.svg#clock")
            p 
              | Срок доставки - 
              span.product-dashboard__making-time до 7 дней
          .product-dashboard__buttons
            button.info-button#characteristics
              .info-button__inner
                svg
                  use(xlink:href="img/sprite.svg#crop")
                span Характеристики
              <svg width="20" height="20" viewBox="0 0 21 20" class='caret' fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 3.75L14.25 10L8 16.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            .decor-line
            button.info-button(data-modal='modal-delivery')
              .info-button__inner
                svg
                  use(xlink:href="img/sprite.svg#truck")
                span Условия доставки
              <svg width="20" height="20" viewBox="0 0 21 20" class='caret' fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 3.75L14.25 10L8 16.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
