-
  const productCards = [
    {
      name: 'Nike Air Force',
      cost: 36990,
      sizes: {
        length: 146,
        width: 78,
        height: 87,
      },
      images: [
        "./img/clothes/nike-3.png",
        "./img/clothes/nike-2.png",
        "./img/clothes/nike-1.png"
      ]
    },
    {
      name: 'Adidas',
      cost: 20000,
      sizes: {
        length: 100,
        width: 70,
        height: 0,
      },
      images: [
        "./img/clothes/adidas-1.png",
        "./img/clothes/adidas-2.png",
        "./img/clothes/adidas-3.png"
      ]
    },
    {
      name: 'New Balance',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
    {
      name: 'New Balance ',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/clothes/nb-1.png",
        "./img/clothes/nb-2.png",
        "./img/clothes/nb-3.png"
      ]
    },
  ]
section.catalog-second-level
  .container
    +itc-select().catalog-second-level__select
    .catalog-second-level__grid
      each product in productCards
        +product-card(product.name, product.cost, product.images, product.sizes)
    .catalog-second-level__pagination
      +btn('Показать ещё', '')
      +pagination