-
  const productCards = [
    {
      images: [
        "img/clothes/nike-3.png",
        "img/clothes/nike-2.png",
        "img/clothes/nike-1.png"
      ],
      data: {
        id: 1,
        name: 'Кроссовки Nike Air Force цвета капусты',
        price: 4000,
        amount: 1,
        img: 'img/clothes/nike-1.png',
      }
    },
    {
      images: [
        "img/clothes/adidas-1.png",
        "img/clothes/adidas-2.png",
        "img/clothes/adidas-3.png"
      ],
      data: {
        id: 2,
        name: 'Адики Бобмбовые',
        price: 8000,
        amount: 1,
        img: 'img/clothes/adidas-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
    {
      images: [
        "img/clothes/nb-1.png",
        "img/clothes/nb-2.png",
        "img/clothes/nb-3.png"
      ],
      data: {
        id: 3,
        name: 'Кроссовки New Balance',
        price: 6000,
        amount: 1,
        img: 'img/clothes/nb-1.png',
      }
    },
  ]
section.catalog-second-level
  .container
    +itc-select().catalog-second-level__select
    .catalog-second-level__grid
      each product in productCards
        +product-card(product.data, product.images)
    .catalog-second-level__pagination
      +btn('Показать ещё', '')
      +pagination