-
  const productCards = [
    {
      name: 'Стеллаж Линц-5 Grey',
      cost: 36990,
      sizes: {
        length: 146,
        width: 78,
        height: 87,
      },
      images: [
        "./img/rooms/living-room.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Рошаль-1 Wood',
      cost: 20000,
      sizes: {
        length: 100,
        width: 70,
        height: 0,
      },
      images: [
        "./img/rooms/living-room.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
    {
      name: 'ТВ-тумба Бремен 1200 Дуб Ирландский',
      cost: 24000,
      sizes: {
        length: 22,
        width: 87,
        height: 66,
      },
      images: [
        "./img/rooms/bedroom.png",
        "./img/rooms/kitchen.png",
        "./img/rooms/bedroom.png"
      ]
    },
  ]
section.catalog-second-level
  .container
    +itc-select().catalog-second-level__select
    .catalog-second-level__grid
      each product in productCards
        +product-card(product.name, product.cost, product.images, product.sizes)
    .catalog-second-level__pagination
      +btn('Показать ещё', '')
      +pagination